@media (max-width: 1125px)
{
  .sidebar {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: fixed;
    top: 55px; 
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: white;
    padding-top: 5px;
  }
  .home-icon {
    height: 74px;
    width: 74px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
  }
  .home-icon:hover{
    background-color: rgb(240, 240, 240);
  }
  .icon {
    height: 24px;
  }
  .des {
    margin: 0;
    margin-top: 6px;
    font-size: 10px;
  }
}
@media (min-width: 1126px) {
  .sidebar {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: c;
    align-items: start;
    position: fixed;
    top: 55px; 
    bottom: 0;
    left: 0;
    z-index: 200;
    background-color: white;
    padding-top: 5px;
  }
  .home-icon {
    height: 60px;
    width: inherit;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    flex-shrink: 0;
  }
  .home-icon:hover{
    background-color: rgb(240, 240, 240);
  }
  .icon {
    height: 35px;
    margin-left:25px;
    margin-right: 25px;
  }
  .des {
    margin: 0;
    font-size: 17px;
  }
}
